{% extends "base_light.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='estatisticas.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container_filtros">
    <div class="filtro">
        <button class="filtros filtro1">FILTROS</button>
    </div>
    <div class="data">
        DE: <input type="date" class="filtros" placeholder="Data1" />
    </div>
    <div class="data">
        A: <input type="date" class="filtros" placeholder="Data2" />
    </div>
</div>
<div class="imagens">
    <div id="grafico1">
        <img src="{{ url_for('static', filename='imagensestatisticas/grafico.svg') }}" alt="grafico1">
    </div>
    <div id="grafico2">
        <img src="{{ url_for('static', filename='imagensestatisticas/grafico.svg') }}" alt="grafico2">
    </div>
</div>
<footer>developed by byte</footer>
{% endblock %}
