<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estatísticas</title>
  <link rel="stylesheet" href="estatisticas.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <a href="../../tela inicial/html-css/index.html">
    <img src="../imagensestatisticas/logo.svg" alt="logo da byte"></a>
    <nav>
      <a href="../../menu/html-css/menu.html">Menu</a>
      <a href="../../proposições/htmlcss/propo.html">Proposições</a>
      <a href="../../estatisticas/htmlcss/estatisticas.html">Estatísticas</a>
    </nav>
  </header>

  <div class="container_filtros">
    <div class="filtro">
      <button class="filtros filtro1">FILTROS</button>
    </div>

    <div class="data">
      DE:
      <input type="date" class="filtros" placeholder="Data1" />
    </div>

    <div class="data">
      A:
      <input type="date" class="filtros" placeholder="Data2" />
    </div>

  </div>

  <div class="imagens">
    <div id="grafico1">
      <!-- NÚMERO DE FALTAS -->
      <img src="../imagensestatisticas/grafico.svg" alt="grafico1">
    </div>

    <div id="grafico2">
      <!-- NÚMERO DE FALTAS -->
      <img src="../imagensestatisticas/grafico.svg" alt="grafico2">
    </div>
  </div>

  <footer>
    developed by byte
  </footer>
</body>

</html>