<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Boas vindas</title>
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
 
</head>
 
<body>
<header>
<img src="{{ url_for('static', filename='imagens/imagens/image 3.png') }}" alt="Logotipo da equipe Byte Tech">
</header>
<div id="sobrenos">
<a href="{{ url_for('sobre_nos') }}">
<button class="btnsobrenos">
<img src="{{ url_for('static', filename='imagens/imagensmenu/sobrenos.svg') }}" alt="Sobre nós">
</button>
</a>
</div>
 
    <section>
<div class="titulo" id="wrap">
<h1 class="uppercase"><b>Como usar o site?</b></h1>
</div>
 
 
        <div class="image-container">
<div class="image-item">
<img src="{{ url_for('static', filename='imagens/imagens/menuimg.png') }}" alt="Imagem 1">
<p>No menu inicial você pode visualizar todos os vereadores de São José dos Campos e seus partidos, podendo navegar
                    até o perfil individual de cada vereador ao clicar. É possivel visualizar proposições aprovadas,
                    comentários e o sobre nós onde se encontram mais informações sobre os autores do projeto.
</p>
</div>
<div class="image-item">
<img src="{{ url_for('static', filename='imagens/imagens/filtroimg.png') }}" alt="Imagem 2">
<p>No perfil individual de cada vereador, é possivel visualizar mais algumas informações
                    sobre ele e também fazer uma busca filtrada, por projetos aprovados, frequência nas sessões,
                    e dados bibliográficos. 
</p>
</div>
<div class="image-item">
<img src="{{ url_for('static', filename='imagens/imagens/aprovadasimg.png')}}" alt="Imagem 3">
<p>Na tela de proposições aprovadas é possivel visualizar quantas proposições aprovadas cada vereador possui
                    em ordem decrescente, quantidade de votos e o partido do candidato.
</p>
</div>
<div class="image-item">
<img src="{{ url_for('static', filename='imagens/imagens/comentariosimg.png') }}" alt="Imagem 4">
<p>Na tela de comentários é possivel dar uma nota para um vereador, partido e comissão, além de deixar 
                    uma mensagem e também visualizar comentários de outros usuários.
</p>
</div>
</div>

 
 
        
<a href="{{ url_for('menu') }}" target="_self">
<div class="center" class="button" class="wrap">
<button><b class="uppercase">Entrar</b></button></a>
</div>
</section>
<article>
<div>
<h5>&#169 Copyright</h5>
</div>        
</article>
 
    <footer>
 
        <div class="wrap" id="imagem"></div>
<div class="center" id="cps-logo">
<img src="{{ url_for('static', filename='imagens/imagens/CPSLOGO.png') }}" alt="Logotipo do Centro Paula Souza">
</div>
<div class="center" id="prefeitura-logo">
<img src="{{ url_for('static', filename='imagens/imagens/PREFEITURALOGO.png') }}" alt="Logotipo da Prefeitura de São José dos Campos">
</div>
<div class="center" id="fatec-logo">
<img src="{{ url_for('static', filename='imagens/imagens/FATECLOGO.png') }}" alt="Logotipo da Faculdade de Tecnologia - FATEC">
</div>
</div>
</footer>
    ')
</body>
</html>