{% extends "base_light.html" %}
{% block head_extras %}
<link rel="stylesheet" href="{{url_for('static', filename = 'perfil.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="left-section">
            <div class="card">
                <!-- A foto do vereador será exibida aqui no card da esquerda -->
                <img src="{{ url_for('static', filename=vereador['foto']) }}" alt="{{ vereador['nome'] }}">
                <h1>{{ vereador['nome_civil'] }}</h1>
                <h2>{{ vereador['partido_sigla'] }}</h2>
                <p><strong>Telefone:</strong> {{ vereador['telefone'] }}</p>
                <p class="email" id="email"><strong>E-mail:</strong> {{ vereador['email'] }}</p>
                <p><strong>Nº do Gabinete:</strong> {{ vereador['gabinete'] or 'Informação não disponível' }}</p>
            </div>
            <a href="/comentarios" class="comment-btn">ADICIONE UM COMENTÁRIO...</a>
        </div>

        <div class="right-section">
            <div id="filtro">
                <select id="filtro-selecao">
                    <option value="biografia" {% if filtro == 'biografia' %}selected{% endif %}>Dados Biográficos</option>
                    <option value="projetos_aprovados" {% if filtro == 'projetos_aprovados' %}selected{% endif %}>Projetos Aprovados</option>
                    <option value="frequencia_sessoes" {% if filtro == 'frequencia_sessoes' %}selected{% endif %}>Frequência nas Sessões</option>
                    <option value="proposicoes" {% if filtro == 'proposicoes' %}selected{% endif %}>Proposições</option>
                    <option value="comissoes" {% if filtro == 'comissoes' %}selected{% endif %}>Atuação em Comissões</option>
                    <option value="posicionamento_votacoes" {% if filtro == 'posicionamento_votacoes' %}selected{% endif %}>Posicionamento em Votações</option>
                </select>
                
                <button id="btnFiltrar">Filtrar</button>
            </div>

            <div class="info-box" id="info-box">
                <h2>INFORMAÇÕES</h2>
                <div id="conteudo-card">
                    <p>Selecione um filtro para ver as informações correspondentes.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h4>developed by byte</h4>
    </footer>

    <script>
        function filtrarDados(filtroSelecionado) {
            console.log("Filtro selecionado:", filtroSelecionado); // Verifica se o filtro está correto
            
            fetch(`/perfil/filtros?vereador_id={{ vereador['id'] }}&filtro=${filtroSelecionado}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro na requisição: ' + response.status);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log("Dados recebidos:", data); // Verifica os dados recebidos
                    const conteudoCard = document.getElementById("conteudo-card");
                    conteudoCard.innerHTML = ""; // Limpa o conteúdo anterior

                    if (filtroSelecionado === "biografia") {
                        conteudoCard.innerHTML = `<p>${data.biografia}</p>`;
                    } else if (filtroSelecionado === "projetos_aprovados") {
                        const ul = document.createElement("ul");
                        data.projetos_aprovados.forEach(projeto => {
                            const li = document.createElement("li");
                            li.innerHTML = `<strong>${projeto.titulo}</strong> - ${projeto.descricao} <a href="${projeto.link_detalhes}" target="_blank">Ver Detalhes</a>`;
                            ul.appendChild(li);
                        });
                        conteudoCard.appendChild(ul);
                    } else if (filtroSelecionado === "frequencia_sessoes") {
                        conteudoCard.innerHTML = `
                            <p><strong>Presença Total:</strong> ${data.frequencia.presenca_totais}</p>
                            <p><strong>Presença 2021:</strong> ${data.frequencia.presenca_2021}</p>
                            <p><strong>Presença 2022:</strong> ${data.frequencia.presenca_2022}</p>
                            <p><strong>Presença 2023:</strong> ${data.frequencia.presenca_2023}</p>
                            <p><strong>Presença 2024:</strong> ${data.frequencia.presenca_2024}</p>
                            <p><strong>Faltas Totais:</strong> ${data.frequencia.faltas_totais}</p>
                            <p><strong>Faltas 2021:</strong> ${data.frequencia.faltas_2021}</p>
                            <p><strong>Faltas 2022:</strong> ${data.frequencia.faltas_2022}</p>
                            <p><strong>Faltas 2023:</strong> ${data.frequencia.faltas_2023}</p>
                            <p><strong>Faltas 2024:</strong> ${data.frequencia.faltas_2024}</p>
                            <p><strong>Faltas Justificadas Totais:</strong> ${data.frequencia.faltas_justificadas_totais}</p>
                            <p><strong>Faltas Justificadas 2021:</strong> ${data.frequencia.faltas_justificadas_2021}</p>
                            <p><strong>Faltas Justificadas 2022:</strong> ${data.frequencia.faltas_justificadas_2022}</p>
                            <p><strong>Faltas Justificadas 2023:</strong> ${data.frequencia.faltas_justificadas_2023}</p>
                            <p><strong>Faltas Justificadas 2024:</strong> ${data.frequencia.faltas_justificadas_2024}</p>
                        `;
                    } else if (filtroSelecionado === "proposicoes") {
                        conteudoCard.innerHTML = `
                            <p><strong>Moções:</strong> ${data.proposicoes.mocoes}</p>
                            <p><strong>Projetos de Lei:</strong> ${data.proposicoes.projeto_de_lei}</p>
                            <p><strong>Projetos de Lei Aprovados:</strong> ${data.proposicoes.projeto_de_lei_aprovados}</p>
                            <p><strong>Requerimentos:</strong> ${data.proposicoes.requerimento}</p>
                        `;
                    } else if (filtroSelecionado === "comissoes") {
                        conteudoCard.innerHTML = "";
                        for (let ano in data.comissoes) {
                            const ul = document.createElement("ul");
                            ul.innerHTML = `<strong>Comissões de ${ano}</strong>`;
                            data.comissoes[ano].forEach(comissao => {
                                const li = document.createElement("li");
                                li.innerText = comissao;
                                ul.appendChild(li);
                            });
                            conteudoCard.appendChild(ul);
                        }
                    } else if (filtroSelecionado === "posicionamento_votacoes") {
                        const ul = document.createElement("ul");
                        data.posicionamento_votacoes.forEach(votacao => {
                            const li = document.createElement("li");
                            li.innerHTML = `<strong>${votacao.titulo}</strong> - Autoria: ${votacao.autoria}, Resultado: ${votacao.resultado}, Voto: ${votacao.voto}`;
                            ul.appendChild(li);
                        });
                        conteudoCard.appendChild(ul);
                    }
                })
                .catch(error => {
                    console.error("Erro ao filtrar dados:", error); // Mostra erros no console
                    document.getElementById("conteudo-card").innerHTML = "<p>Erro ao carregar informações. Tente novamente mais tarde.</p>";
                });
        }

        // Evento de clique no botão de filtro
        document.getElementById("btnFiltrar").addEventListener("click", function() {
            const filtroSelecionado = document.getElementById("filtro-selecao").value;
            filtrarDados(filtroSelecionado);
        });
    </script>
{% endblock %}
