{% extends "base_light.html" %}

{% block head_extras %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposições Aprovadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='proposicoes2.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="sobrenos">
    <a href="{{ url_for('sobre_nos') }}">
        <button class="btnsobrenos">
            <img src="{{ url_for('static', filename='imagens/imagensmenu/sobrenos.svg') }}" alt="Sobre nós">
        </button>
    </a>
</div>

<div class="proposicoes-container">
    <h1>Ranking de Proposições Aprovadas (2021-2024)</h1>
    <div class="cards-wrapper">
        {% for vereador in vereadores %}
        <div class="card">
            <img src="{{ url_for('static', filename=vereador.foto) }}" alt="{{ vereador.nome_civil }}">
            <h2>{{ vereador.nome_civil }}</h2>
            <p class="partido">{{ vereador.partido }}</p>
            <p class="projetos">
                <span class="num-projetos">{{ vereador.projeto_de_lei_aprovados }}</span> Projetos Aprovados
            </p>
            
            <!-- Adicionando as informações de Reeleito e Votos -->
            {% if vereador.status and vereador.votos %}
            <p class="reeleito">Reeleito mandato 2025 a 2028 </p>
            <p class="votos">Quantidade de votos: {{ vereador.votos }}</p>
            {% endif %}

            <a href="{{ url_for('perfil', id_vereador=vereador.id) }}?filtro=projetos_aprovados">Ver Perfil</a>
        </div>
        {% endfor %}
    </div>
</div>

<footer>
    Clique em algum perfil para visualizar mais detalhes
</footer>
{% endblock %}
