* {
    margin: 0;
}

header {
    background-color: rgb(37, 52, 95);
    height: 80px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    }
header > img {
    max-height: 100%;}

body, html{ /*tamanho limitado para a tela não "vazar"*/
    max-height: auto;
    max-width: auto;
    overflow-x: hidden;
}
div.wrap{ /*usei esse "envelopamento" pra corrigir o scroll da página*/
    height: 100%;
    overflow: hidden;
}
body{
    overflow: hidden; /**/
    font-family: "Roboto", sans-serif;
}


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.inter-regular{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}  
#container{
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
}
.texto-projeto { /*formatação do texto principal*/
    display: flexbox;
    background-color: rgb(135, 240, 242, 28%);
    border-radius: 25px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.texto-projeto p {
    color: rgb(53, 53, 53);
    text-align: center;
    font-size: 24px;
    max-width: 900px;
}
.titulo h1{ /*formatação do título h1*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: #25345f;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 40px;
}
.uppercase{ /*deixa a letra maiúscula*/
    text-transform: uppercase;
}
.center{ /*gambiarra para centralizar o maldito botão*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 3px;
}
.imagem img{
    display:flex;
    max-width: 10%; /* Garante que a imagem não exceda a largura do card */
    height: auto;
    width: 10%; /* Define a largura da imagem dentro do card como 80% da largura do card */
    object-fit: cover;
}
section{
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-left: 350px;
    padding-right: 350px;
}
button { /*acho que o nome é autoexplicativo...*/
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    border: 3px;
    font-size: 25px;
    padding: 4px 32px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(76, 88, 125, 1);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    height: 50px;

}
button:hover{ /*passar ponteiro do mouse sobre o botão*/
    font-family: "Roboto", sans-serif;
    color: rgb(169, 169, 169);
    font-size: 25px;
    background-color: rgb(49, 57, 81);
    text-align: center;
    border: darkgray;
    padding: 4px 32px;
    transform: scale(1.1);
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: darkgray;
}

article {
    display: flex;
    justify-content: flex-start;
    color: #25345f;
}
article > div {
    height: 30px;
    margin: 10px;
}
footer { /*parte mais baixa da página*/
    display: flex;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 52, 95);
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
@media (max-width: 768px) {
    header {
         flex-direction: column;
    width: 100%; /* Ajusta para que as seções ocupem toda a largura em telas menores */
    margin: 0 auto; /* Centraliza o container */
    }

    header nav a {
        font-size: 18px; /* Diminui o tamanho da fonte em telas menores */
        margin-left: 10px; /* Diminui a margem */
    }

    #container {
        flex-direction: column; /* Alinha itens em coluna */
        align-items: center; /* Centraliza os itens */
    }
}