

/* Estilo geral para o corpo da página */
body {
    font-family: 'Roboto', sans-serif; /* Define a fonte usada no texto da página */
    margin: 0; /* Remove a margem padrão do navegador */
    padding: 0; /* Remove o preenchimento padrão do navegador */
    background-color: #f5f5f5; /* Define a cor de fundo da página */
    overflow-x: hidden; /* Impede que o conteúdo transborde horizontalmente */ 

}

/* Estilo do cabeçalho (header) */
header {
    display: flex; /* Define o layout como flexbox, para alinhar itens em linha ou coluna */
    justify-content: space-between; /* Espaça os itens do header uniformemente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    background-color: white; /* Define o fundo branco do cabeçalho */
    padding: 15px 30px; /* Define espaçamento interno (padding) de 15px nas bordas superior e inferior, e 30px nas laterais */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave abaixo do cabeçalho */
}

header .logo img {
    width: 100px; /* Define a largura da imagem do logo */
}

header nav a {
    text-decoration: none; /* Remove a sublinha padrão dos links */
    color: #25345F; /* Define a cor do texto dos links como cinza */
    font-weight: 500; /* Define a espessura do texto (negrito leve) */
    margin-left: 20px; /* Adiciona um espaçamento à esquerda de cada link */
    font-size: 24px; /* Aumenta o tamanho da fonte para 18px */
    line-height: 35px; /* Define o espaçamento entre linhas */
    height: 35px; /* Altura do elemento*/
    width: 59px; /* Largura do elemento*/
    font-family: 'Roboto', sans-serif; /* Fonte*/ 
}

header nav a:hover {
    color: #2d98da; /* Muda a cor dos links quando o mouse passa por cima (hover) */
}

header .logo img {
    width: 100px; /* Define a largura da imagem do logo */
}




#sobrenos {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
}

.btnsobrenos {

    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    cursor: pointer;
}

.btnsobrenos:hover {
    background-color: #ecebeb;
    border-radius: 50px;
}


#filtroEbusca{
    display: flex;
    justify-content: center;
    cursor: pointer;

    margin-left: -600px;
}

#btnFiltro {
    border: none; /* Remove a borda do input */
    outline: none; /* Remove a borda de foco (outline) do input */

    background-color: transparent;

    font-size: 24px;

    background-color: #76C7CC;
    border-radius: 50px;

    padding: 15px 150px; /* Adicione padding se necessário */
    margin-left: 200px;
    padding-left: 10px;
}
#btnFiltro::placeholder {
    color: white; /* Cor do texto do placeholder */
    opacity: 1; /* Define a opacidade do placeholder */
    font-weight:bold ;
    font-style: italic;

   
}

#filtro img {
    padding: 2px;

    margin-right: 100px;
    margin-left: -65px; /* Ajuste negativo para colar a imagem ao input */
    margin-bottom: -15px;

}

#btnBusca {
    border: none; /* Remove a borda do input */
    outline: none; /* Remove a borda de foco (outline) do input */
    padding: 15px; /* Adicione padding se necessário */
    background-color: transparent;
    font-size: 24px;

    background-color: #76C7CC;
    border-radius: 50px;
 
    padding: 15px 80px; /* Adicione padding se necessário */

    padding-left: 10px;
}


#busca img {
    padding: 2px;
    margin-left: -50px; /* Ajuste negativo para colar a imagem ao input */
    margin-bottom: -15px;
}

#btnBusca::placeholder {
    color: white; /* Cor do texto do placeholder */
    opacity: 1; /* Define a opacidade do placeholder */
    font-weight: bold;
    font-style: italic;

   
}

#avancarVoltar {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between;

    margin: 20px 0;

    position: relative;

    margin-bottom: -300px;
    margin-top: 230px;
}


#btnAvancar {
    display: flex;
    align-items: right; /* Alinha verticalmente ao centro */
    justify-self: end;

    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    cursor: pointer;


}

#btnAvancar:hover {
    background-color: #e5e5e6;
    border-radius: 100px;
}

#btnVoltar {
    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    cursor: pointer;

   
}

#btnVoltar:hover {
    background-color: #e5e5e6;
    border-radius: 100px;
}


#candidatos {
    display: flex;
    justify-content: center; /* Centraliza os candidatos */

    cursor: pointer;
}

#candidato1, #candidato2, #candidato3 {
    display: flex;
    padding: 2%;
}

#candidato1:hover, #candidato2:hover, #candidato3:hover {
    display: flex;
    padding: 2%;
    transform: scale(1.1);
}

footer {
    background-color: #76C7CC; /* Define a cor de fundo do rodapé como azul suave */
    color: white; /* Define a cor do texto como branca */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Adiciona espaçamento interno */
    position: relative; /* Define a posição relativa ao rodapé */
    width: 100%; /* Define a largura do rodapé como 100% da tela */
    bottom: 0; /* Mantém o rodapé no final da página */
    left: 0; /* Alinha o rodapé à esquerda */
    right: 0; /* Garante que o rodapé se estenda até o final à direita */
    font-size: 24px; /* Define o tamanho da fonte do rodapé */
    }
