<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Perfil de Vereadores {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_light.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo"><a href="../../tela inicial/html-css/index.html">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo da byte"></a>
        </div>
        <nav>
            <a href="#">Menu</a>
            <a href="#">Proposições</a>
            <a href="#">Estatísticas</a>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        <!-- Conteúdo específico será inserido aqui -->
        {% endblock %}
    </div>

    <footer>
        <h4>desenvolvido pela byte</h4>
    </footer>
</body>
</html>
