{% extends "base_light.html" %}

{% block title %}
    Perfil - {{ vereador['nome_civil'] }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">

<div class="container">
    <!-- Seção à esquerda com o card do vereador -->
    <div class="left-section">
        <div class="card">
            <img src="{{ url_for('static', filename='img/' ~ vereador['id'] ~ '.jpg') }}" alt="{{ vereador['nome_civil'] }}">
            <h1>{{ vereador['nome_civil'] }}</h1>
            <h2>{{ vereador['partido'] }}</h2>
            <p><strong>Telefone:</strong> {{ vereador['telefone'] }}</p>
            <p class="email"><strong>E-mail:</strong> {{ vereador['email'] }}</p>
        </div>
        <!-- Botão de comentário -->
        <button class="comment-btn">ADICIONE UM COMENTÁRIO...</button>
    </div>

    <!-- Seção à direita com as informações adicionais -->
    <div class="right-section">
        <!-- Campo de filtro -->
        <div id="filtro">
            <input type="text" id="btnBusca" placeholder="FILTRAR...">
            <img src="{{ url_for('static', filename='img/Filter.svg') }}" id="btnFiltro" alt="Filtrar">
        </div>

        <!-- Caixa de informações biográficas -->
        <div class="info-box">
            <h2>DADOS BIOGRÁFICOS</h2>
            <p>Aqui vão os dados biográficos do vereador. Você pode adicionar as informações que desejar.</p>
        </div>

        <!-- Caixa de histórico político -->
        <div class="info-box">
            <h2>HISTÓRICO POLÍTICO</h2>
            <p>Aqui vai o histórico político do vereador.</p>
        </div>
    </div>
</div>

{% endblock %}

