<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../html-css/menu.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo"><a href="../../tela inicial/html-css/index.html">
            <img src="../imagensmenu/logo.svg" alt="logo da byte"></a>
        </div>
        <nav>
            <a href="../html-css/menu.html">Menu</a>
            <a href="../../proposições/htmlcss/propo.html">Proposições</a>
            <a href="../../estatisticas/htmlcss/estatisticas.html">Estatísticas</a>
        </nav>
    </header>


    <div id="sobrenos">
        <a href="../../sobre_nos/htmlcss/sobre_nos.html">
        <button class="btnsobrenos">
            <img src="../imagensmenu/sobrenos.svg" alt="Sobre nós">
        </button></a>
    </div>
    

   

    <section id="filtroEbusca">
        <div id="filtro">
          <input type="text" id="btnFiltro" placeholder="FILTROS" />
          <img src="../imagensmenu/Filter.svg" id="btnFiltro" alt="Filtrar" />
        </div>
        <div id="busca">
          <input type="text" id="btnBusca" placeholder="BUSCAR" />
          <img src="../imagensmenu/Search.svg" id="btnBusca" alt="Buscar" />
        </div>
      </section>
  
      <div id="container">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" id="carousel-inner">
            <div class="carousel-item"></div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
            id="btnVoltar"
          >
            <img
              src="../imagensmenu/btnvoltar.svg"
              alt="Voltar"
              class="d-block"
            />
            <span class="visually-hidden">Anterior</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
            id="btnAvancar"
          >
            <img
              src="../imagensmenu/btnavancar.svg"
              alt="Avançar"
              class="d-block"
            />
            <span class="visually-hidden">Próximo</span>
          </button>
        </div>
      </div>
  
      <footer>Clique em algum perfil para visualizar especificamente</footer>
  
  
      <script>
        const images = [
          { src: "/teste/flask_app/static/img/35.jpg", alt: "", caption: "Amélia" },
          {
            src: "/teste/flask_app/static/img/47.jpg",
            alt: "Marcao",
            link: "../../perfil/htmlcss/perfil.html",
          },
          { src:"/teste/flask_app/static/img/38.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/45.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/40.jpg", alt:""},
          {  src:"/teste/flask_app/static/img/44.jpg", alt:""},
          {  src:"/teste/flask_app/static/img/43.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/246.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/247.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/238.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/47.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/244.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/242.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/243.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/245.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/50.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/234.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/248.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/239.jpg", alt:"" },
          {  src:"/teste/flask_app/static/img/55.jpg", alt:"" },
        ];
  
        const itemsPerPage = 3;
        let currentIndex = 0;
        const carouselInner = document.getElementById("carousel-inner");
  
        function updateCarousel() {
          carouselInner.innerHTML = ""; // Limpa o carrossel
          const carouselItem = document.createElement("div");
          carouselItem.className = "carousel-item active";
  
          const start = currentIndex * itemsPerPage;
          const end = start + itemsPerPage;
          const itemsToShow = images.slice(start, end);
  
          itemsToShow.forEach((image) => {
            const imgContainer = document.createElement("div");
            if (image.link) {
              const link = document.createElement("a");
              link.href = image.link;
              const img = document.createElement("img");
              img.src = image.src;
              img.alt = image.alt;
              link.appendChild(img);
              imgContainer.appendChild(link);
            } else {
              const img = document.createElement("img");
              img.src = image.src;
              img.alt = image.alt;
              imgContainer.appendChild(img);
            }
            carouselItem.appendChild(imgContainer);
          });
  
          carouselInner.appendChild(carouselItem);
        }
  
        function advanceCarousel() {
          if ((currentIndex + 1) * itemsPerPage < images.length) {
            currentIndex++;
            updateCarousel();
          }
        }
  
        function retreatCarousel() {
          if (currentIndex > 0) {
            currentIndex--;
            updateCarousel();
          }
        }
  
        document
          .getElementById("btnAvancar")
          .addEventListener("click", advanceCarousel);
        document
          .getElementById("btnVoltar")
          .addEventListener("click", retreatCarousel);
  
        // Inicializar o carrossel
        updateCarousel();
      </script>
    </body>
  </html>
  