*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

header .logobyte {
    position: relative;
    max-width: 100px;
}

.barranav{
    flex-grow: 1;
    display: flex;
    margin-left: 850px;
}

header .barranav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}


header .barranav li a{
    color:#25345f;
    text-decoration: none;
    font-size: 18px;
    
}

header .barranav li a:hover{
    text-decoration: underline;
}

body{
    background-color: #f5f5f5;
    background-position: center;
}

.campopesquisa {
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: 16px;
    margin-top: 140px;
   
}

.campopesquisa .filtros{
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-left: 115px; 
    width: 560px;
    height: 14px;
    background-color: #00dadc;
    border-radius: 30px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.campopesquisa input[type="text"]{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-style: italic;
}

.datetitle{
    margin-right: 10px;
    margin-left: 80px;
    font-style: italic;
    margin-top: 5px;
}

 .campopesquisa .data {
    display: inline-block;
    padding: 10px;
    width: 140px;
    height: 14px;
    background-color: #00dadc;
    border-radius: 30px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}


.campopesquisa input[type="date"]{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}

.propotitulo {
    text-align: center;
    color: #25345f;
    font-size: 18px;
    padding-top: 40px;
    font-style: italic;
    margin-left: 100px;
}

.resultados {
    text-align: left;
    margin: 30px 80px 0 80px;
    color:#25345f;
    font-size: 18px;
    font-style: italic ;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 20px;
}

.container .propobox {
    flex: 1 1 60%;
    margin: 5px 60px 10px 40px;
    background-color: #babac4;
    border-radius: 5px;
    padding: 15px;
}

.container .propobox h2{
    color: #25345f;
    font-size: 18px;
    line-height: 2.5px;
    font-weight: 3px;
    text-align: justify;
    padding-top: 30px;
    margin: 15px;
}

.container .propobox p{
    color: #25345f;
    text-align: justify;
    margin-left: 15px;
    margin-right: 45px;
  
}

footer {
    background-color: #76C7CC;
    display: flex;
    justify-content: center;
    height: 20px;
}
