* {
  margin: 0;
  padding: 0;
}
.header-sobrenos {
  background-color: rgb(37, 52, 95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-sobrenos .logo {
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
}

.header-sobrenos .logo:hover {
  box-shadow: 0 0 20px rgba(125, 185, 215, 0.2);
}

.header-sobrenos > nav > a {
  font-size: 24px;
  color: white;
  margin: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.meetourteam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #25345f;
  font-size: 40px;
  padding: 40px;
  height: 50px;
}

.perfil-sobrenos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 auto;
}

.btnleft, .btnright {
  display: flex;
  cursor: pointer;
  margin: 0;
  background-color: white;
  border: none;
}

.perfil-sobrenos > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: calc(25% - 2em);
  height: 400px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: rgb(37, 52, 95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.perfil-sobrenos > div:hover {
  transform: scale(1.10);
  box-shadow: 0 0 20px rgba(108, 187, 227, 0.2);
}
.perfil-sobrenos > div > img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10%;
}
.perfil-sobrenos > div > p {
  font-size: 18px;
  color: white;
}
.perfil-sobrenos > div > p > strong {
  font-size: 24px;
  color: white;
}
.footer-sobrenos {
  background-color: rgb(37, 52, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; 
  height: 27px;
}
.footer-sobrenos > p {
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  /* Adjustments for larger screens */
  .perfil-sobrenos > div {
    width: 250px;
  }
}

@media screen and (max-width: 992px) {
  /* Adjustments for tablets */
  .perfil-sobrenos {
    flex-direction: column;
  }
  .perfil-sobrenos > div {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  /* Adjustments for smaller smartphones */
  .header-sobrenos {
    flex-direction: row;
  }
  .header-sobrenos nav {
    text-align: center;
  }
  .meetourteam {
    font-size: 32px;
  }
  .perfil-sobrenos > div {
    width: 80%;
    height: auto;
  }
}