*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
    background-color: #F5F5F5;

}

header {
    display: flex; /* Define o layout como flexbox, para alinhar itens em linha ou coluna */
    justify-content: space-between; /* Espaça os itens do header uniformemente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    background-color: #FFF; /* Define o fundo branco do cabeçalho */
    padding: 15px 30px; /* Define espaçamento interno (padding) de 15px nas bordas superior e inferior, e 30px nas laterais */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave abaixo do cabeçalho */
    width: 100%;
}

header .logo img {
    width: 100px; /* Define a largura da imagem do logo */
}

header nav a {
    text-decoration: none; /* Remove a sublinha padrão dos links */
    color: #25345F; /* Define a cor do texto dos links como cinza */
    font-weight: 500; /* Define a espessura do texto (negrito leve) */
    margin-left: 20px; /* Adiciona um espaçamento à esquerda de cada link */
    font-size: 24px; /* Aumenta o tamanho da fonte para 18px */
    line-height: 35px; /* Define o espaçamento entre linhas */
    height: 35px; /* Altura do elemento */
    width: 59px; /* Largura do elemento*/
}

header nav a:hover {
    color: #2d98da; /* Muda a cor dos links quando o mouse passa por cima(hover) */
}

.container_filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2em;

}

.filtros{
    background-color: #76C7CC;
    border-radius: 50px;
    color: #FFF;
    border: none;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.filtro1{
    background-image: url(../imagensestatisticas/Filter.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 20px;
    width: 500px;
    
    
}

::-webkit-input-placeholder {
    color: #FFF;
 }

 .data{
    font-family: 'Roboto', sans-serif;
    color: #25345F;
    font-weight: 500;
    font-size: 24px;
 }

 .imagens{
    margin: 10em;
    display: flex;
    margin-left: 40px;

 }



 footer {
    background-color: #76C7CC; /* Define a cor de fundo do rodapé como azul suave */
    color: white; /* Define a cor do texto como branca */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Adiciona espaçamento interno */
    position: relative;
    width: 100%; /* Define a largura do rodapé como 100% da tela */
    bottom: 0; /* Mantém o rodapé no final da página */
    left: 0;
    right: 0;   
    font-size: 14px; /* Define o tamanho da fonte do rodapé */
    }